#user-component {
  width: 100vw; }

.user-columns-container {
  margin-top: 65px;
  width: 100vw;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column; }
  @media (min-width: 450px) {
    .user-columns-container {
      flex-direction: row; } }
  @media (min-width: 767px) {
    .user-columns-container {
      flex-direction: row; } }
  @media (min-width: 992px) {
    .user-columns-container {
      flex-direction: row; } }
  @media (min-width: 1200px) {
    .user-columns-container {
      flex-direction: row; } }

.user-left {
  float: left;
  padding: 15px;
  flex: 1;
  text-align: center; }
  @media (min-width: 450px) {
    .user-left {
      flex: 1; } }
  @media (min-width: 767px) {
    .user-left {
      flex: 1; } }
  @media (min-width: 992px) {
    .user-left {
      flex: 1; } }
  @media (min-width: 1200px) {
    .user-left {
      flex: 1; } }

.user-right {
  padding: 15px;
  float: left;
  flex: 1; }
  @media (min-width: 450px) {
    .user-right {
      flex: 1; } }
  @media (min-width: 767px) {
    .user-right {
      flex: 2; } }
  @media (min-width: 992px) {
    .user-right {
      flex: 2; } }
  @media (min-width: 1200px) {
    .user-right {
      flex: 3; } }

.user-avatar {
  text-align: center;
  margin-bottom: 15px; }

.user-details {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
  align-items: center; }

.user-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: nowrap;
  align-items: center; }

.user-icon {
  margin-right: 15px;
  flex: 1; }

.user-field {
  margin-right: 15px;
  flex: 6; }

.gridList {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap; }

.gridTile {
  margin: 2.5px;
  flex: auto;
  width: 433px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

#gallery-component {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(162, 181, 205, 0.5);
  align-items: center;
  z-index: 1105; }
  #gallery-component .gallery-tile {
    position: relative;
    overflow: hidden;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.12);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    #gallery-component .gallery-tile .gallery-photo {
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      #gallery-component .gallery-tile .gallery-photo .overlay {
        border-bottom: 100px solid yellow;
        border-left: 100px solid transparent;
        bottom: 0;
        height: 0;
        opacity: .95;
        position: absolute;
        right: 0;
        text-indent: -9999px;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out;
        width: 0; }
      #gallery-component .gallery-tile .gallery-photo:hover .overlay {
        border-bottom: 200vh solid yellow;
        border-left: 200vw solid transparent;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
      #gallery-component .gallery-tile .gallery-photo .corner-overlay-content {
        bottom: 15px;
        color: #333;
        position: absolute;
        right: 15px;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
      #gallery-component .gallery-tile .gallery-photo:hover .corner-overlay-content {
        opacity: 0;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out; }
      #gallery-component .gallery-tile .gallery-photo .overlay-content {
        bottom: 0;
        color: #333;
        left: 0;
        opacity: 0;
        padding: 30px;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out; }
        #gallery-component .gallery-tile .gallery-photo .overlay-content h2 {
          border-bottom: 1px solid #333;
          padding: 0 0 12px; }
      #gallery-component .gallery-tile .gallery-photo:hover .overlay-content {
        opacity: 1;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        -webkit-transition-delay: 0.3s;
        -moz-transition-delay: 0.3s;
        transition-delay: 0.3s; }
  #gallery-component + #nav-component + #grid-component,
  #gallery-component + #nav-component {
    -webkit-filter: blur(6px);
    filter: blur(6px); }

/*# sourceMappingURL=main.css.map*/