#grid-component
  position: absolute
  top: 65px
  width: calc(100% - ($app-padding * 2))

  .grid-section
    +display(flex)
    +flex-wrap(wrap)
    z-index: 1099

    .grid-tile-container
      +flex(auto)
      width: 433px
      height: 40vh
      margin: 15px

  .grid-load-button
    position: relative
    margin: 15px 0
    +display(flex)
    +flex-wrap(wrap)
    +justify-content(center)
    z-index: 1099
