#grid-component {
  position: absolute;
  top: 65px;
  display: flex;
  flex-wrap: wrap;
  z-index: 1103;
}

.gridTile-component {
  margin: 2.5px;
  flex: auto;
  width: 433px;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
