.message
  border-radius: 10px
  height: 25px
  margin: 4px 0px
  padding: 10px 0px 5px 10px
  line-height: 25px
  font-size: 20px

.conversation
  height: 30px
  border: 1px solid black
  line-height: 30px
  margin-top: 5px

.messageModalBox
  display: flex
  align-items: stretch

.conversationList
  font-size: 20px
  width: 30%
  display: inline-block
  margin-left: 5px


.messageModalContainer
  width: 60%
  margin-right: 5px
  display: inline-block
