.photo-upload-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;

  @include respond-to('xsmall') {
    flex-direction: column;
  };

  @include respond-to('small') {
    flex-direction: column;
  };

  @include respond-to('medium') {
    flex-direction: row;
  };

  @include respond-to('large') {
    flex-direction: row;
  };
}

.photo-upload-container >
.photo-data-container {
  width: 200px;
  flex: 1;

  @include respond-to('xsmall') {
    flex: 1;
  };

  @include respond-to('small') {
    flex: 1;
  };

  @include respond-to('medium') {
    flex: 1;
  };

  @include respond-to('large') {
    flex: 1;
  };
}

.photo-upload-container >
.drop-zone-container {
  display: right;
  height: 25vh;
  flex: 1;

  @include respond-to('xsmall') {
    flex: 1;
  };

  @include respond-to('small') {
    flex: 1;
  };

  @include respond-to('medium') {
    flex: 2;
  };

  @include respond-to('large') {
    flex: 2;
  };
}

.drop-zone-box {
  display: right;
  height: 200px;
  flex: 1;
}

.image-preview {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;

}