.user-left {
  height: '100vh';
  padding: '5 15';

  @include respond-to('small') {
    background-color: blue;
  };

  @include respond-to('medium') {
    background-color: red;
  };

  @include respond-to('large') {
    background-color: green;
  };
}

.user-right {
  height: '100vh';
  padding: '5 15';

  @include respond-to('small') {
    background-color: blue;
  };

  @include respond-to('medium') {
    background-color: red;
  };

  @include respond-to('large') {
    background-color: green;
  };
}