#user-component {
  
}

.user-columns-container {
  margin-top: 65px;
  height: 200px;
  padding: 10px;
}

.user-left {
  padding: '5 15';
  border: 1px solid #ccc; 
  float: left;

  @include respond-to('small') {
    padding: 1.25em; 
    margin: .5em;
  };

  @include respond-to('medium') {
    padding: 1.25em; 
    margin: .5em;
  };

  @include respond-to('large') {
    width: 40em;
  };
}

.user-right {
  padding: '5 15';
  border: 1px solid #ccc; 
  float: left;

  @include respond-to('small') {
    padding: 1.25em; 
    margin: .5em;
  };

  @include respond-to('medium') {
    padding: 1.25em; 
    margin: .5em;
  };

  @include respond-to('large') {
    margin-left: 40em;
  };
}